# Basic Python CTC Session 8

## Recap Python Dictionaires

In [28]:
##Travel Log

travel_log = [
    {
    "country":"France",
    "visits":12,
    "cities":["Paris","Lyon","Brest"]
    },
    {
     "country":"Germany",
     "visits":4,
     "cities":["Berlin","Hamburg","Stuttgart"]
     }
]

def add_new_country(country_visited,times_visited,cities_visited):
    """adds a new country to existing dictionary"""
    new_country = {}
    new_country["country"] = country_visited
    new_country["visits"] = times_visited
    new_country["cities"] = cities_visited
    travel_log.append(new_country)


add_new_country("Italy", 8,["Milano","Como","Marotta","Venezia"])

print(travel_log)

[{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lyon', 'Brest']}, {'country': 'Germany', 'visits': 4, 'cities': ['Berlin', 'Hamburg', 'Stuttgart']}, {'country': 'Italy', 'visits': 8, 'cities': ['Milano', 'Como', 'Marotta', 'Venezia']}]

In [47]:
travel_log[0]

{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lyon', 'Brest']}

In [61]:
list(travel_log)[0]

{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lyon', 'Brest']}

In [60]:
list(travel_log[0])

['country', 'visits', 'cities']

In [65]:
travel_log[1].items()

dict_items([('country', 'Germany'), ('visits', 4), ('cities', ['Berlin', 'Hamburg', 'Stuttgart'])])

In [72]:
list(travel_log[0].values())[0]

'France'

In [29]:
for country in travel_log:
    print(travel_log[travel_log.index(country)]["country"])

France
Germany
Italy

In [30]:
for country in travel_log:
    print(travel_log[travel_log.index(country)]["cities"][0])

Paris
Berlin
Milano

In [31]:
for country in travel_log:
    print(travel_log[travel_log.index(country)]["country"],travel_log[travel_log.index(country)]["visits"])

France 12
Germany 4
Italy 8

In [75]:
#items(), keys(), values()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()
y = car.keys()
z = car.values()

print(x)
print(y)
print(z)

print(list(x))

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

## Scope: Calculator

We want to create a basic calculator that takes three inputs:
- First number
- Second number
- type of operation

Moreover, after a calculation we will ask the users whether they want to continue with the same calculation or start with a new one.

In [32]:
def add(n1,n2):
    """adds two numbers"""
    return n1 + n2

In [33]:
def sub(n1,n2):
    """substracts two numbers"""
    return n1 - n2

In [34]:
def mul(n1,n2):
    """multiplies two numbers"""
    return n1 * n2

In [35]:
def div(n1,n2):
    """divides two numbers"""
    return n1 / n2

In [36]:
operations = {"+":add,"-":sub,"*":mul,"/":div}

In [37]:
def calculator():
    calc_continue = True
    num1 = float(input("What is the first number: "))
    while calc_continue is True:
        
        num2 = float(input("What is the next number: "))
        
        for operator in operations: #with .items() you can get complete dictionary
            print(operator) 
        
        operations_symbol = input("Pick an operation from the line above: ")
        
        calculation_function = operations[operations_symbol]
        answer = calculation_function(num1, num2)
        
        print(f"{num1} {operations_symbol} {num2} = {answer}")
        
        if input(f"Type 'y' to continue calculating with {answer}, or type 'n' to start a new calculation: ")=="y":
            num1 = answer
        else:
            calc_continue = False
            calculator() #recursion

In [38]:
calculator()

What is the first number: 2
What is the next number: 3
+
-
*
/
Pick an operation from the line above: +
2.0 + 3.0 = 5.0
Type 'y' to continue calculating with 5.0, or type 'n' to start a new calculation: n
What is the first number: 3
What is the next number:

ValueError: could not convert string to float:

## Try and Execept

In [39]:
def input_difficulty(msg=''):
    """This function ensures execution of code even if player chooses invalid difficulty"""
    while(True):
        try: 
            difficulty=int(input(msg))
            if difficulty == 1 or difficulty == 2:
                break # was able to convert to 1 or 2 integers
            else: 
                print("Difficulty level must be 1 or 2")
        except:
            print("Difficulty level must be 1 or 2")
            pass # it will repeat the loop
    return (difficulty)

In [40]:
input_difficulty()

4
Difficulty level must be 1 or 2
s
Difficulty level must be 1 or 2
2

2

## The Higher Lower Game

_http://www.higherlowergame.com/_

In [ ]:
import random as rd

data = [
    {
        'name': 'Instagram',
        'follower_count': 346,
        'description': 'Social media platform',
        'country': 'United States'
    },
    {
        'name': 'Cristiano Ronaldo',
        'follower_count': 215,
        'description': 'Footballer',
        'country': 'Portugal'
    },
    {
        'name': 'Ariana Grande',
        'follower_count': 183,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Dwayne Johnson',
        'follower_count': 181,
        'description': 'Actor and professional wrestler',
        'country': 'United States'
    },
    {
        'name': 'Selena Gomez',
        'follower_count': 174,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Kylie Jenner',
        'follower_count': 172,
        'description': 'Reality TV personality and businesswoman and Self-Made Billionaire',
        'country': 'United States'
    },
    {
        'name': 'Kim Kardashian',
        'follower_count': 167,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Lionel Messi',
        'follower_count': 149,
        'description': 'Footballer',
        'country': 'Argentina'
    },
    {
        'name': 'Beyoncé',
        'follower_count': 145,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Neymar',
        'follower_count': 138,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'National Geographic',
        'follower_count': 135,
        'description': 'Magazine',
        'country': 'United States'
    },
    {
        'name': 'Justin Bieber',
        'follower_count': 133,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Taylor Swift',
        'follower_count': 131,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kendall Jenner',
        'follower_count': 127,
        'description': 'Reality TV personality and Model',
        'country': 'United States'
    },
    {
        'name': 'Jennifer Lopez',
        'follower_count': 119,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Nicki Minaj',
        'follower_count': 113,
        'description': 'Musician',
        'country': 'Trinidad and Tobago'
    },
    {
        'name': 'Nike',
        'follower_count': 109,
        'description': 'Sportswear multinational',
        'country': 'United States'
    },
    {
        'name': 'Khloé Kardashian',
        'follower_count': 108,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Miley Cyrus',
        'follower_count': 107,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Katy Perry',
        'follower_count': 94,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kourtney Kardashian',
        'follower_count': 90,
        'description': 'Reality TV personality',
        'country': 'United States'
    },
    {
        'name': 'Kevin Hart',
        'follower_count': 89,
        'description': 'Comedian and actor',
        'country': 'United States'
    },
    {
        'name': 'Ellen DeGeneres',
        'follower_count': 87,
        'description': 'Comedian',
        'country': 'United States'
    },
    {
        'name': 'Real Madrid CF',
        'follower_count': 86,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'FC Barcelona',
        'follower_count': 85,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'Rihanna',
        'follower_count': 81,
        'description': 'Musician and businesswoman',
        'country': 'Barbados'
    },
    {
        'name': 'Demi Lovato',
        'follower_count': 80,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': "Victoria's Secret",
        'follower_count': 69,
        'description': 'Lingerie brand',
        'country': 'United States'
    },
    {
        'name': 'Zendaya',
        'follower_count': 68,
        'description': 'Actress and musician',
        'country': 'United States'
    },
    {
        'name': 'Shakira',
        'follower_count': 66,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Drake',
        'follower_count': 65,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Chris Brown',
        'follower_count': 64,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'LeBron James',
        'follower_count': 63,
        'description': 'Basketball player',
        'country': 'United States'
    },
    {
        'name': 'Vin Diesel',
        'follower_count': 62,
        'description': 'Actor',
        'country': 'United States'
    },
    {
        'name': 'Cardi B',
        'follower_count': 67,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'David Beckham',
        'follower_count': 82,
        'description': 'Footballer',
        'country': 'United Kingdom'
    },
    {
        'name': 'Billie Eilish',
        'follower_count': 61,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Justin Timberlake',
        'follower_count': 59,
        'description': 'Musician and actor',
        'country': 'United States'
    },
    {
        'name': 'UEFA Champions League',
        'follower_count': 58,
        'description': 'Club football competition',
        'country': 'Europe'
    },
    {
        'name': 'NASA',
        'follower_count': 56,
        'description': 'Space agency',
        'country': 'United States'
    },
    {
        'name': 'Emma Watson',
        'follower_count': 56,
        'description': 'Actress',
        'country': 'United Kingdom'
    },
    {
        'name': 'Shawn Mendes',
        'follower_count': 57,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Virat Kohli',
        'follower_count': 55,
        'description': 'Cricketer',
        'country': 'India'
    },
    {
        'name': 'Gigi Hadid',
        'follower_count': 54,
        'description': 'Model',
        'country': 'United States'
    },
    {
        'name': 'Priyanka Chopra Jonas',
        'follower_count': 53,
        'description': 'Actress and musician',
        'country': 'India'
    },
    {
        'name': '9GAG',
        'follower_count': 52,
        'description': 'Social media platform',
        'country': 'China'
    },
    {
        'name': 'Ronaldinho',
        'follower_count': 51,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'Maluma',
        'follower_count': 50,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Camila Cabello',
        'follower_count': 49,
        'description': 'Musician',
        'country': 'Cuba'
    },
    {
        'name': 'NBA',
        'follower_count': 47,
        'description': 'Club Basketball Competition',
        'country': 'United States'
    }
]

## What would you like to see next

In [ ]:
#github

In [ ]:
vip1_name = rd.choice(data)["name"]
vip1_followers = rd.choice(data)["follower_count"]

vip2_name = rd.choice(data)["name"]
vip2_followers = rd.choice(data)["follower_count"]

game_resume = True
total_score = 0


def player_choice():
    """"""
    player_guess = int(input(f"Who has more followers? Type 1 for {vip1_name} or 2 for {vip2_name}: "))
    return player_guess


def vip_follower_ranking():
    """a function that determines which vip has more followers"""
    if vip1_followers > vip2_followers:
        return 1
    elif vip1_followers < vip2_followers:
        return 2
    else:
        return 0
    

def game_decision(player_follower_ranking,true_follower_ranking):
    if true_follower_ranking == 0:
        print("Both got the same number of followers lol.")
        return 0
    elif player_follower_ranking == 1 and true_follower_ranking == 1:
        print("You were right all along biatch")
        return 1
    elif player_follower_ranking == 2 and true_follower_ranking == 2:
        print("You were right all along you little devil")
        return 1
    else:
        print("You suck bruh")
        return 0



while game_resume == True:
    total_score += game_decision(player_choice(),vip_follower_ranking())
     
    if vip1_followers > vip2_followers:
        vip2_name = rd.choice(data)["name"]
        vip2_followers = rd.choice(data)["follower_count"]
    elif vip1_followers < vip2_followers:
        vip1_name = vip2_name
        vip1_followers = vip2_followers
        vip2_name = rd.choice(data)["name"]
        vip2_followers = rd.choice(data)["follower_count"]
    else:
        vip1_name = rd.choice(data)["name"]
        vip1_followers = rd.choice(data)["follower_count"]        
        vip2_name = rd.choice(data)["name"]
        vip2_followers = rd.choice(data)["follower_count"]

    if input("Would you like to play again? Type 'y' for yes or 'n' for no: ")=="y":
        game_resume=True
    else:
        print("Thanks for playing you noob!")
        print(f"Your total score is {total_score}.")
        game_resume=False